html {
  margin: auto;
  padding: 50px;
  background-color: var(--background-shade);
  background-image: linear-gradient(
    138deg,
    var(--secondary-shade) 25%,
    var(--background-shade) 100%
  );
  font-family: "Rockwell";
}

.heading {
  text-align: center;
  margin: auto;
  padding: 30px;
  color: white;
  font-family: "Rockwell";
  font-size: 10vw;
  user-select: none;
  text-shadow: 0px 10px 5px var(--panel-shade);
}

#crypto-container {
  background: #1f1f20;
  width: 70%;
  margin: 0 auto 4px auto;
  padding: 1em;
  border-radius: 17px;
  color: white;
}

/* span.left {
  font-weight: bold;
  user-select: none;
}

span.right {
  float: right;
} */

@media (prefers-reduced-motion: no-preference) {
  #crypto-container {
    animation: shadow-rainbow infinite 4s linear alternate;
  }
}

@keyframes shadow-rainbow {
  from {
    box-shadow: 0px 0px 2px 1px rgba(0, 212, 255, 1);
  }

  to {
    box-shadow: 0px 0px 2px 1px #864ad4;
  }
}

/* deep blue: 
background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
*/

@media only screen and (max-width: 768px) {
  .heading {
    text-align: center;
    margin: auto;
    padding: 20px;
    color: white;
    font-family: "Rockwell";
    font-size: 8vw;
    user-select: none;
    text-shadow: 0px 10px 5px var(--panel-shade);
  }
}

@media only screen and (min-width: 768px) {
  .heading {
    text-align: center;
    margin: auto;
    padding: 20px;
    color: white;
    font-family: "Rockwell";
    font-size: 9vw;
    user-select: none;
    text-shadow: 0px 10px 5px var(--panel-shade);
  }
}

@media only screen and (min-width: 1180px) {
  .heading {
    text-align: center;
    margin: auto;
    padding: 20px;
    color: white;
    font-family: "Rockwell";
    font-size: 7vw;
    user-select: none;
    text-shadow: 0px 10px 5px var(--panel-shade);
  }
}

@media only screen and (min-width: 1800px) {
  .heading {
    text-align: center;
    margin: auto;
    padding: 10px;
    color: white;
    font-family: "Rockwell";
    font-size: 7vw;
    user-select: none;
    text-shadow: 0px 10px 5px var(--panel-shade);
  }
}
