:root {
  --background-shade: #266ce6;
  --secondary-shade: #4727d4;
  --panel-shade: #1f1f20;
  --panel-mid-shade: #331d5f;
  --deep-shade: #000000;
  --mid-shade: #864ad4;
  --light-shade: rgba(0, 212, 255, 1);
}
:root,
#root,
html,
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: "Rockwell";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
